@use 'base/mixins' as m;
@use 'base/variables' as v;

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: lighten(v.$pink4, 3%);
    height: 7rem;
    z-index: 100;

    @include m.desktop {
        height: 3rem;
    }
}

/* ======= MOBILE ======= */
.navM {
    height: 7rem;
    
    @include m.desktop {
        display: none;
    }

    &__data {
        height: 100%;
        padding: 0 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 2px solid v.$black;
    }

    &__logo {
        width: 7rem;
    }

    &__toggle {
        position: relative;
        width: 3rem;
        height: 3rem;
        /* background-color: darken(v.$yellow4, 1%);
        border-radius: .5rem;
        box-shadow:  2px 2px 7px 0px rgba(0, 0, 0, 0.50); */
    }

    &__burger, 
    &__close {
        position: absolute;
        width: max-content;
        height: max-content;
        margin: auto;
        inset: 0;
        font-size: 2.5rem;
        cursor: pointer;
        transition: opacity .1s, transform .4s;
    }

    &__close {
        opacity: 0;
    }

    &__menu {
        position: absolute;
        left: 0;
        top: 7rem;
        width: 100%;
        height: calc(100vh - 3.5rem);
        overflow: auto;
        pointer-events: none;
        opacity: 0;
        transition: top .4s, opacity .3s;
    }

    &__menu::-webkit-scrollbar {
        width: 0;
    }

    &__list {
        background-color: lighten(v.$blue4trans, 10%);
        padding: 2rem 0;
        box-shadow: 2px 0 7px 0px rgba(0, 0, 0, 0.50);
        border-bottom: 2px solid v.$black;
    }

    &__item {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    &__icon {
        font-size: 2.2rem;
    }

    &__link {
        color: v.$black;
        font-weight: 600;
        padding: 1.25rem 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background-color .3s;
    }


    &__link:hover {
        background-color: lighten(v.$blue4, 10%);
    }
}

.show-menu {
    opacity: 1;
    top: 7rem;
    pointer-events: initial;
}

.show-icon .navM__burger {
    opacity: 0;
    transform: rotate(90deg);
}

.show-icon .navM__close {
    opacity: 1;
    transform: rotate(90deg);
}

/* ======= DESKTOP ======= */
.bannerD {
    
    background-color: lighten(v.$pink4, 3%);
    color: v.$black;
    display: none;
    height: 4rem;
    border-bottom: 2px solid v.$black;
    
    @include m.desktop {
        display: flex;
    }

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        max-width: v.$maxwidth;
        margin: auto;
    }


    &__contacto {
        display: flex;
        align-items: center;
        column-gap: .5rem;
    }

    &__contacto-icono {

    }

    &__contacto-link {
        color: v.$black;
    }

    &__horario {
    }

    &__texto {
        
    }

    &__siguenos {
        display: flex;
        align-items: center;
        gap: .7rem;
    }

    &__siguenos-texto {
        font-weight: 600;
    }
}