<!-- ======= FOOTER ======= -->
    <footer class="footer">
        <div class="footer__content">
            <a clas="navD__logoLink" href="./index.html">
                <img class="navD__logo" src="./img/logo_letBlancas.png" alt="logo">
            </a>

            <div class="footer__social">
                <a href="https://web.facebook.com/nousni" target="_blank" class="footer__socialLink">
                    <i class="footer__socialIcon bi bi-facebook"></i>
                </a>

                <a href="https://www.instagram.com/nounousnineras" target="_blank" class="footer__socialLink">
                    <i class="footer__socialIcon bi bi-instagram"></i>
                </a>
            </div>

            <div class="footer__links">
                <a href="./politicas.html" class="footer__link">Politicas de privacidad</a>
                <a href="./terminos.html" class="footer__link">Terminos del Servicio</a>
                <!-- <a href="#" class="footer__link">Cookies</a> -->
            </div>
        </div>

        <div class="footer__line"></div>

        <p class="footer__copyright">Hecho con ❤ por Nounous Niñeras © <span id="year"></span> |  Todos los derechos reservados. </p>
    </footer>