<!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MVTL86NX"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <!-- ======= banner Desktop ======= -->
    <div class="bannerD">
        <div class="bannerD__container">
            <div class="bannerD__contacto">
                <div class="bannerD__contacto-icono">
                    <i class="bi bi-telephone-fill"></i>
                </div>
    
                <p class="bannerD__contacto-texto">
                    (614)-342-8993
                </p>
            </div><!-- .contacto -->

            <div class="bannerD__horario">
                <p class="banneD__texto">Lunes a Domingo de 7:00am a 22:00pm</p>
            </div>

            <div class="bannerD__siguenos">
                <p class="bannerD__siguenos-texto">Siguenos:</p>

                <div class="bannerD__siguenos-social">
                    <a href="https://web.facebook.com/nousni" target="_blank" class="footer__socialLink">
                        <i class="footer__socialIcon bi bi-facebook"></i>
                    </a>
    
                    <a href="https://www.instagram.com/nounousnineras" target="_blank" class="footer__socialLink">
                        <i class="footer__socialIcon bi bi-instagram"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>