<!-- ======= NAV ======= -->
    <header class="header">
        <!-- ======= nav Mobile ======= -->
        <div class="navM">
            <div class="navM__data">
                <a clas="navM__logoLink" href="./index.html">
                    <img class="navM__logo" src="./img/logo_letBlancas.png" alt="logo">
                </a>
    
                <div class="navM__toggle" id="navM-toggle">
                    <i class="bi bi-list navM__burger"></i>
                    <i class="bi bi-x navM__close"></i>
                </div>
            </div>

            <!-- ======= NAV MENU ======= -->
            <nav class="navM__menu" id="navM-menu">
                <ul class="navM__list">
                    <li class="navM__item">
                        <a href="./index.html" class="navM__link">Inicio</a>
                    </li>

                    <li class="navM__item">
                        <a href="./servicios.html" class="navM__link"> Servicios</a>
                    </li>

                    <li class="navM__item">
                        <a href="./contacto.html" class="navM__link">Contacto</a>
                    </li>

                    <li class="navM__item">
                        <a href="./quiero.html" class="navM__link">Quiero ser Niñera</a>
                    </li>

                    <li class="navM__item">
                        <a href="https://web.facebook.com/nousni" target="_blank" class="navM__link">
                            <i class="navM__icon bi bi-facebook"></i>
                        </a>

                        <a href="https://www.instagram.com/nounousnineras" target="_blank" class="navM__link">
                            <i class="navM__icon bi bi-instagram"></i>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

        <!-- ======= nav Desktop ======= -->
        <div class="navD">
            <a clas="navD__logoLink" href="./index.html">
                <img class="navD__logo" src="./img/logo_letBlancas.png" alt="logo">
            </a>

            <div class="navD__container">
                <nav class="navD__menu">
                    <ul class="navD__list">
                        <li class="navD__item">
                            <a href="./index.html" class="navD__link">Inicio</a>
                        </li>

                        <p class="navD__stick navD__item"></p>
    
                        <li class="navD__item">
                            <a href="./servicios.html" class="navD__link"> Servicios</a>
                        </li>

                        <p class="navD__stick navD__item"></p>
    
                        <li class="navD__item">
                            <a href="./contacto.html" class="navD__link">Contacto</a>
                        </li>

                        <p class="navD__stick navD__item"></p>
    
                        <li class="navD__item">
                            <a href="./quiero.html" class="navD__link">Quiero ser Niñera</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>