    <!-- aviso cookies -->
    <div class="aviso-cookies" id="aviso-cookies">
		<img class="galleta" src="./img/cookie.svg" alt="Galleta">
		<h3 class="titulo">Cookies</h3>
		<p class="parrafo">Utilizamos cookies propias y de terceros para mejorar nuestros servicios. Si acepta ó continua navegando, consideramos que acepta su uso.</p>
		<button class="boton" id="btn-aceptar-cookies">De acuerdo</button>
		<a class="enlace" href="aviso-cookies.html">Aviso de Cookies</a>
	</div>
	<div class="fondo-aviso-cookies" id="fondo-aviso-cookies"></div>


    <!-- whatsapp button -->
    <a href="https://wa.me/526143428993?text=%C2%A1Hola%F0%9F%91%8BNounous%20Ni%C3%B1eras!%20Quiero%20agendar%20una%20ni%C3%B1era%20para%20una%20fecha%20pr%C3%B3xima.%20%C2%BFMe%20pueden%20dar%20m%C3%A1s%20informaci%C3%B3n%20sobre%20sus%20servicios%3F" 
    class="whatsapp-button" 
    target="_blank" 
    title="Enviar mensaje por WhatsApp" 
    aria-label="Enviar mensaje por WhatsApp">
    <i class="bi bi-whatsapp" aria-hidden="true"></i>
    </a>


    <!-- scripts -->
    <script src="./js/app.js"></script>