@use 'variables' as v; 

html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: v.$pink1; 
    font-family: v.$fuentePrincipal;
    font-size: 1.6rem;
}

h1, h2, h3, h4, h5, h6, p, a, span {
    &::selection {
        background-color: v.$blue2;
    }
}

[class$="contenedor"],
.contenedor {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
}

img {
    max-width: 100%;
    display: block;
}

ul {
    padding:0;
    list-style: none;
    margin: 0;
}

.seccion {
    padding: 8rem 0;
}

