@use 'variables' as v; 

/** Media Queries **/
@mixin telefono {
    @media (min-width: v.$telefono) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: v.$tablet) {
        @content;
    }
}
  
@mixin desktop {
    @media (min-width: v.$desktop) {
        @content;
    }
}


@mixin boton($bgColor, $colorTexto) {
    background-color: $bgColor;
    padding: 1.2rem 2rem;
    border-radius: 20rem;
    border: 2px solid v.$black;
    color: $colorTexto;
    font-size: 2rem;
    font-weight: 600;
    display: inline-block;
    text-align: center;
    transition: all 300ms;

    @include tablet {
        width: auto;
    }
    &:hover {
        background-color: darken($bgColor, 10%);
        scale: .98;
    }
}

@mixin grid($columnas, $espaciado ) {
    display: grid;
    gap: $espaciado;
    grid-template-columns: repeat($columnas, 1fr);
}