@use 'base/mixins' as m;
@use 'base/variables' as v;

.testimoniales {
    background-color: v.$yellow1;
    padding: 2.5rem 2rem 2.5rem 2rem;

    &__heading,
    &__texto {
        max-width: 40rem;
        margin: 0 auto;
    }

    &__heading {
        margin: 0 auto;
        text-align: center;
        border-bottom: 5px solid v.$yellow4;
        max-width: max-content;
    }

    &__texto {
        padding: 2rem 0rem;
        text-align: center;
    }

    &__widgets {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        row-gap: 2rem;
        max-width: v.$maxwidth;
        margin: 0 auto;

        @include m.tablet {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 2rem;
        }
    }
}

.widget2 {
    border: 2px solid v.$black;
    border-radius: 1rem;
    background-color: v.$yellow4;
    box-shadow: 3px 4px 7px 0px rgba(0, 0, 0, 0.50);
    padding: 2rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 37rem;
    margin: 0 auto;
    row-gap: 1rem;

    @include m.tablet {
        height: 34rem;
        max-width: 37rem;
    }

    &__iconos,
    &__texto,
    &__cliente {
        width: 100%;
    }

    &__texto {
        font-size: 1.5rem;
    }

    &__cliente {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;
    }

    &__img {
        width: 4.2rem;
        height: 4.2rem;
        object-fit: cover;
        border-radius: 50%;
    }

    &__posicion {
        font-size: 1.2rem;
    }
}